<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
        <option value="-weight">Weight</option>
        <option value="-flash">Flash</option>
        <option value="-ram">RAM</option>
        <option value="-screenSize">Screen Size</option>
      </select>
      
      <select ng-model="phoneId1">
        <option ng-repeat="phone in phones" value={{phone.id}}>{{phone.name}}</option>
      </select>
      
      <select ng-model="phoneId2">
        <option ng-repeat="phone in phones" value={{phone.id}}>{{phone.name}}</option>
      </select>
      
      <input type="button" value="Compare Phones" ng-click="comparePhones()">
    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="phones">
        <li ng-repeat="phone in phones | filter:query | orderBy: orderProp"
            class="thumbnail phone-listing">
          <a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}"></a>
          <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
          <p>{{phone.snippet}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>
