<table class="checkboxes">
    <tr>
        <th>Features</th>
    </tr>
    <tr>
        <td> <label> Availibility <input type="checkbox" ng-model="availabilitychecked"/></label></td>
    </tr>
    <tr>
        <td> <label> Battery Type <input type="checkbox" ng-model="batterytypechecked"/> </label></td>
    </tr>
    <tr>
        <td> <label> Battery Talk Time <input type="checkbox" ng-model="batterytalktimechecked"/> </label></td>
    </tr>
    <tr>
        <td> <label> Battery Standby Time <input type="checkbox" ng-model="batterystandbytimechecked"/> </label></td>
    </tr>
    <tr>
        <td> <label> RAM <input type="checkbox" ng-model="ramchecked"/> </label></td>
    </tr>
    <tr>
        <td> <label> Flash <input type="checkbox" ng-model="flashchecked"/> </label></td>
    </tr>
    <tr>
        <td> <label> Network Support <input type="checkbox" ng-model="networksupportchecked"/> </label></td>
    </tr>
    <tr>
        <td> <label> Wifi <input type="checkbox" ng-model="wifichecked"/> </label></td>
    </tr>
    <tr>
        <td> <label> Bluetooth <input type="checkbox" ng-model="bluetoothchecked"/> </label></td>
    </tr>
    <tr>
        <td> <label> Infared <input type="checkbox" ng-model="infaredchecked"/> </label></td>
    </tr>
    <tr>
        <td> <label> GPS <input type="checkbox" ng-model="gpschecked"/> </label></td>
    </tr>
    <tr>
        <td> <label> OS Version <input type="checkbox" ng-model="osversionchecked"/> </label></td>
    </tr>
    <tr>
        <td> <label> OS UI <input type="checkbox" ng-model="osuichecked"/> </label></td>
    </tr>
    <tr>
        <td> <label> Dimensions <input type="checkbox" ng-model="dimensionschecked"/> </label></td>
    </tr>
    <tr>
        <td> <label> Weight <input type="checkbox" ng-model="weightchecked"/> </label></td>
    </tr>
    <tr>
        <td> <label> Screen Size <input type="checkbox" ng-model="screensizechecked"/> </label></td>
    </tr>
    <tr>
        <td> <label> Screen Resolution <input type="checkbox" ng-model="screenresolutionchecked"/> </label></td>
    </tr>
    <tr>
        <td> <label> Touch Screen <input type="checkbox" ng-model="touchscreenchecked"/> </label></td>
    </tr>
    <tr>
        <td> <label> CPU <input type="checkbox" ng-model="cpuchecked"/> </label></td>
    </tr>
    <tr>
        <td> <label> USB <input type="checkbox" ng-model="usbchecked"/> </label></td>
    </tr>
    <tr>
        <td> <label> Audio/head jack <input type="checkbox" ng-model="audiochecked"/> </label></td>
    </tr>
    <tr>
        <td> <label> Radio <input type="checkbox" ng-model="radiochecked"/> </label></td>
    </tr>
    <tr>
        <td> <label> Accelerometer <input type="checkbox" ng-model="accelerometerchecked"/> </label></td>
    </tr>
    <tr>
        <td> <label> Primary Camera <input type="checkbox" ng-model="primarycamerachecked"/> </label></td>
    </tr>
    <tr>
        <td> <label> Camera Features <input type="checkbox" ng-model="camerafeatureschecked"/> </label></td>
    </tr>
    <tr>
        <td> <label> Additional Features <input type="checkbox" ng-model="additionalfeatureschecked"/> </label></td>
    </tr>
</table>
<table class="featurestable">
    <tr>
        <th>Feature</th>
        <th>{{phone1.name}}</th>
        <th>{{phone2.name}}</th>
    </tr>
    <tr ng-if="availabilitychecked">
        <td>Availability</td>
        <td>
            <label ng-repeat="availability in phone1.availability">{{availability}}</label>
        </td>
        <td>
            <label ng-repeat="availability in phone2.availability">{{availability}}</label>
        </td>
    </tr>
    <tr ng-if="batterytypechecked">
        <td>Battery Type</td>
        <td>{{phone1.battery.type}}</td>
        <td>{{phone2.battery.type}}</td>
    </tr>
    <tr ng-if="batterytalktimechecked">
        <td>Battery Talk Time</td>
        <td>{{phone1.battery.talkTime}}</td>
        <td>{{phone2.battery.talkTime}}</td>
    </tr>
    <tr ng-if="batterystandbytimechecked">
        <td>Battery Standby time (max)</td>
        <td>{{phone1.battery.standbyTime}}</td>
        <td>{{phone2.battery.standbyTime}}</td>
    </tr>
    <tr ng-if="ramchecked">
        <td>RAM</td>
        <td>{{phone1.storage.ram}}</td>
        <td>{{phone2.storage.ram}}</td>
    </tr>
    <tr ng-if="flashchecked">
        <td>Internal Storage</td>
        <td>{{phone1.storage.flash}}</td>
        <td>{{phone2.storage.flash}}</td>
    </tr>
    <tr ng-if="networksupportchecked">
        <td>Network Support</td>
        <td>{{phone1.connectivity.cell}}</td>
        <td>{{phone2.connectivity.cell}}</td>
    </tr>
    <tr ng-if="wifichecked">
        <td>Wifi</td>
        <td>{{phone1.connectivity.wifi}}</td>
        <td>{{phone2.connectivity.wifi}}</td>
    </tr>
    <tr ng-if="bluetoothchecked">
        <td>Bluetooth</td>
        <td>{{phone1.connectivity.bluetooth}}</td>
        <td>{{phone2.connectivity.bluetooth}}</td>
    </tr>
    <tr ng-if="infaredchecked">
        <td>Infared</td>
        <td>{{phone1.connectivity.infared | checkmark}}</td>
        <td>{{phone2.connectivity.infared | checkmark}}</td>
    </tr>
    <tr ng-if="gpschecked">
        <td>GPS</td>
        <td>{{phone1.connectivity.gps | checkmark}}</td>
        <td>{{phone2.connectivity.gps | checkmark}}</td>
    </tr>
    <tr ng-if="osversionchecked">
        <td>Android OS Version</td>
        <td>{{phone1.android.os}}</td>
        <td>{{phone2.android.os}}</td>
    </tr>
    <tr ng-if="osuichecked">
        <td>Android OS UI</td>
        <td>{{phone1.android.ui}}</td>
        <td>{{phone2.android.ui}}</td>
    </tr>
    <tr ng-if="dimensionschecked">
        <td>Dimensions</td>
        <td>
            <label ng-repeat="dim in phone1.sizeAndWeight.dimensions">{{dim}}</label>
        </td>
        <td>
            <label ng-repeat="dim in phone1.sizeAndWeight.dimensions">{{dim}}</label>
        </td>
    </tr>
    <tr ng-if="weightchecked">
        <td>Weight</td>
        <td>{{phone1.sizeAndWeight.weight}}</td>
        <td>{{phone2.sizeAndWeight.weight}}</td>
    </tr>
    <tr ng-if="screensizechecked">
        <td>Screen Size</td>
        <td>{{phone1.display.screenSize}}</td>
        <td>{{phone2.display.screenSize}}</td>
    </tr>
    <tr ng-if="screenresolutionchecked">
        <td>Screen Resolution</td>
        <td>{{phone1.display.screenResolution}}</td>
        <td>{{phone2.display.screenResolution}}</td>
    </tr>
    <tr ng-if="touchscreenchecked">
        <td>Touch Screen</td>
        <td>{{phone1.display.touchScreen | checkmark}}</td>
        <td>{{phone2.display.touchScreen | checkmark}}</td>
    </tr>
    <tr ng-if="cpuchecked">
        <td>CPU</td>
        <td>{{phone1.hardware.cpu}}</td>
        <td>{{phone2.hardware.cpu}}</td>
    </tr>
    <tr ng-if="usbchecked">
        <td>USB</td>
        <td>{{phone1.hardware.usb}}</td>
        <td>{{phone2.hardware.usb}}</td>
    </tr>
    <tr ng-if="audiochecked">
        <td>Audio / headphone jack</td>
        <td>{{phone1.hardware.audioJack}}</td>
        <td>{{phone2.hardware.audioJack}}</td>
    </tr>
    <tr ng-if="radiochecked">
        <td>FM Radio</td>
        <td>{{phone1.hardware.fmRadio | checkmark}}</td>
        <td>{{phone2.hardware.fmRadio | checkmark}}</td>
    </tr>
    <tr ng-if="accelerometerchecked">
        <td>Accelerometer</td>
        <td>{{phone1.hardware.accelerometer | checkmark}}</td>
        <td>{{phone2.hardware.accelerometer | checkmark}}</td>
    </tr>
    <tr ng-if="primarycamerachecked">
        <td>Primary Camera</td>
        <td>{{phone1.camera.primary}}</td>
        <td>{{phone2.camera.primary}}</td>
    </tr>
    <tr ng-if="camerafeatureschecked">
        <td>Camera Features</td>
        <td>{{phone1.camera.features.join(', ')}}</td>
        <td>{{phone2.camera.features.join(', ')}}</td>
    </tr>
    <tr ng-if="additionalfeatureschecked">
        <td>Additional Features</td>
        <td>{{phone1.additionalFeatures}}</td>
        <td>{{phone2.additionalFeatures}}</td>
    </tr>
</table>